body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background: #111;
}
* {
  box-sizing: border-box;
}
h1, h3 {
  font-weight: 400;
}
.weather-app {
  min-height: 100vh;
  background-image: url(./images/day/cloudy.jpg);
}